<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /dist/                    // 项目文件
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /dist1/index.html [L]   // .后面的空格不能删掉
</IfModule>
